@model SysReleaseNote
@{
    var langEnum = User.GetLoggedInUserLanguageEnum();
    ViewData["Title"] = SysExpressionHelper.Get(langEnum, ExpressionTypes.SysReleaseNote, SysReleaseNoteExpression.Create.ToInt());
    ViewData["Icon"] = "fas fa-user-secret";
    ViewData["Path"] = new List<PathNavigator> { new PathNavigator { Title = SysExpressionHelper.Get(langEnum, ExpressionTypes.SysReleaseNote, SysReleaseNoteExpression.SysReleaseNotes.ToInt()), Address = $"/{ViewContext.GetControllerName()}" }, };
    ViewData["CurrentMenu"] = SysExpressionHelper.Get(langEnum, ExpressionTypes.SysMenu, SysMenuExpression.ReleaseNote.ToInt());
}

<section class="content pt-3">
    <div class="container-fluid">
        <form asp-action="Create" class="needs-validation" novalidate>
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">
                                <em class="fa fa-users"></em>
                                @SysExpressionHelper.Get(langEnum, ExpressionTypes.SysReleaseNote, SysReleaseNoteExpression.Create.ToInt())
                            </h3>
                        </div>
                        <div class="card-body">
                            @if (!ViewData.ModelState.IsValid)
                            {
                                <div asp-validation-summary="All" class="alert alert-danger CustomValidation">
                                    <span class="fa-solid fa-circle-exclamation" style="font-size:25px;float:right;"></span>
                                </div>
                            }

                            <input type="hidden" asp-for="Id" />
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <div class="input-group has-validation mt-3">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text" for="Code">
                                                @SysExpressionHelper.Get(langEnum, ExpressionTypes.SysReleaseNote, SysReleaseNoteExpression.ReleaseNo.ToInt())
                                            </label>
                                        </div>
                                        <input asp-for="ReleaseNo" class="form-control" required autocomplete="off" />
                                        <div class="invalid-feedback text-size-10">
                                            @SysExpressionHelper.Get(langEnum, ExpressionTypes.BaseEntity, BaseEntityExpression.Requiered_Validation_Message.ToInt() , (ExpressionParamConstants.Field, SysExpressionHelper.Get(langEnum, ExpressionTypes.SysReleaseNote, SysReleaseNoteExpression.ReleaseNo.ToInt())))
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <div class="input-group has-validation mt-3">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text" for="ControlerName">
                                                @SysExpressionHelper.Get(langEnum, ExpressionTypes.SysReleaseNote, SysReleaseNoteExpression.ReleaseDate.ToInt())
                                            </label>
                                        </div>
                                        <input asp-for="ReleaseDate" class="form-control" type="date" required autocomplete="off" />
                                        <div class="invalid-feedback text-size-10">
                                            @SysExpressionHelper.Get(langEnum, ExpressionTypes.BaseEntity, BaseEntityExpression.Requiered_Validation_Message.ToInt() , (ExpressionParamConstants.Field, SysExpressionHelper.Get(langEnum, ExpressionTypes.SysReleaseNote, SysReleaseNoteExpression.ReleaseDate.ToInt())))
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <div class="input-group has-validation mt-3">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text" for="ViewName">
                                                @SysExpressionHelper.Get(langEnum, ExpressionTypes.SysReleaseNote, SysReleaseNoteExpression.IsComing.ToInt())
                                            </label>
                                        </div>
                                        <div class="form-control">
                                            <input asp-for="IsComing" />
                                        </div>
                                        <div class="invalid-feedback text-size-10">
                                            @SysExpressionHelper.Get(langEnum, ExpressionTypes.BaseEntity, BaseEntityExpression.Requiered_Validation_Message.ToInt() , (ExpressionParamConstants.Field, SysExpressionHelper.Get(langEnum, ExpressionTypes.SysReleaseNote, SysReleaseNoteExpression.IsComing.ToInt())))
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <textarea asp-for="Note" class="summernote" required autocomplete="off">
                                          </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer ">
                            <div class="float-right">
                                <a class="btn btn-outline-info btn-footer" asp-action="Index">
                                    <em class="fa fa-times mr-2"></em>
                                    @SysExpressionHelper.Get(langEnum, ExpressionTypes.General, GeneralExpression.Cancel.ToInt())
                                </a>
                                <button type="submit" class="btn btn-info btn-footer">
                                    <em class="fa fa-check mr-2"></em>
                                    @SysExpressionHelper.Get(langEnum, ExpressionTypes.General, GeneralExpression.Save.ToInt())
                                </button>
                            </div>
                            <a asp-controller="SysAssistance" asp-action="Help" asp-route-controllerName="SysReleaseNote" asp-route-actionName="Create" title="@SysExpressionHelper.Get(langEnum, ExpressionTypes.General, GeneralExpression.Help.ToInt())" class="mr-2" style="color:#036b7c"><em class="fa fa-info-circle"></em></a>
                            <a asp-controller="SysAssistance" asp-action="Faq" asp-route-controllerName="SysReleaseNote" asp-route-actionName="Create" title="@SysExpressionHelper.Get(langEnum, ExpressionTypes.General, GeneralExpression.Faq.ToInt())" class="mr-2" style="color:#036b7c"><em class="fa fa-question-circle"></em></a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>