@model SysReleaseNote
@{
    var langEnum = User.GetLoggedInUserLanguageEnum();
    ViewData["Title"] = SysExpressionHelper.Get(langEnum, ExpressionTypes.SysReleaseNote, SysReleaseNoteExpression.Delete.ToInt());
    ViewData["Icon"] = "fas fa-user-secret";
    ViewData["Path"] = new List<PathNavigator> { new PathNavigator { Title = SysExpressionHelper.Get(langEnum, ExpressionTypes.SysReleaseNote, SysReleaseNoteExpression.SysReleaseNotes.ToInt()), Address = $"/{ViewContext.GetControllerName()}" }, };
    ViewData["CurrentMenu"] = SysExpressionHelper.Get(langEnum, ExpressionTypes.SysMenu, SysMenuExpression.ReleaseNote.ToInt());
}

<section class="content pt-3">
    <div class="container-fluid">
        <form asp-action="Delete">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">
                                <em class="fa fa-users"></em>
                                @SysExpressionHelper.Get(langEnum, ExpressionTypes.General, GeneralExpression.Sure_To_Delete.ToInt())
                            </h3>
                        </div>
                        <div class="card-body">
                            <div class="alert ">
                                <strong class="badge badge-info" style="font-size:16px;">
                                    V @Model.ReleaseNo
                                    <em class="fas fa-calendar-days ml-4"></em>
                                    @Model.ReleaseDate
                                    @if (Model.IsComing)
                                    {
                                        <span>(</span>
                                        @SysExpressionHelper.Get(langEnum, ExpressionTypes.SysReleaseNote, SysReleaseNoteExpression.IsComingDescription.ToInt())
                                        <span>)</span>
                                    }

                                </strong>
                                @Html.Raw(Model.Note)
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-6">
                                    <p>
                                        <strong class="title">
                                            @SysExpressionHelper.Get(langEnum, ExpressionTypes.BaseEntity, BaseEntityExpression.CreatedBy.ToInt())
                                        </strong>
                                        :
                                        <strong class="value">
                                            @Html.DisplayFor(model => model.CreatedBy) (@Html.DisplayFor(model => model.CreatedAt))
                                        </strong>
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        <strong class="title">
                                            @SysExpressionHelper.Get(langEnum, ExpressionTypes.BaseEntity, BaseEntityExpression.UpdatedBy.ToInt())
                                        </strong>
                                        :
                                        @if (!string.IsNullOrEmpty(Model.UpdatedBy))
                                        {
                                            <strong class="value">
                                                @Html.DisplayFor(model => model.UpdatedBy) (@Html.DisplayFor(model => model.UpdatedAt))
                                            </strong>
                                        }


                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        <strong class="title">
                                            @SysExpressionHelper.Get(langEnum, ExpressionTypes.BaseEntity, BaseEntityExpression.Locked.ToInt())
                                        </strong>
                                        :
                                        <strong class="value">
                                            @if (Model.Locked)
                                            {
                                                <span class="fa-solid fa-lock"></span>
                                                @SysExpressionHelper.Get(langEnum, ExpressionTypes.General, GeneralExpression.Yes.ToInt())
                                            }
                                            else
                                            {
                                                <span class="fa-solid fa-lock-open"></span>
                                                @SysExpressionHelper.Get(langEnum, ExpressionTypes.General, GeneralExpression.No.ToInt())
                                            }


                                        </strong>
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        <strong class="title">
                                            @SysExpressionHelper.Get(langEnum, ExpressionTypes.BaseEntity, BaseEntityExpression.Active.ToInt())
                                        </strong>
                                        :
                                        <strong class="value">
                                            @if (Model.Active)
                                            {
                                                <span class="fa-solid fa-check"></span>
                                                @SysExpressionHelper.Get(langEnum, ExpressionTypes.General, GeneralExpression.Yes.ToInt())
                                            }
                                            else
                                            {
                                                <span class="fa-solid fa-times"></span>
                                                @SysExpressionHelper.Get(langEnum, ExpressionTypes.General, GeneralExpression.No.ToInt())
                                            }


                                        </strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <input type="hidden" asp-for="Id" />
                            <div class="float-right">
                                <a class="btn btn-outline-info btn-footer" asp-action="Index">
                                    <em class="fa fa-times mr-2"></em>
                                    @SysExpressionHelper.Get(langEnum, ExpressionTypes.General, GeneralExpression.No.ToInt())
                                </a>
                                <button type="submit" class="btn btn-info btn-footer">
                                    <em class="fa fa-check mr-2"></em>
                                    @SysExpressionHelper.Get(langEnum, ExpressionTypes.General, GeneralExpression.Yes_I_Am_Sure_To_Delete_It.ToInt())
                                </button>
                            </div>
                            <a asp-controller="SysAssistance" asp-action="Help" asp-route-controllerName="SysReleaseNote" asp-route-actionName="Delete" title="@SysExpressionHelper.Get(langEnum, ExpressionTypes.General, GeneralExpression.Help.ToInt())" class="mr-2" style="color:#036b7c"><em class="fa fa-info-circle"></em></a>
                            <a asp-controller="SysAssistance" asp-action="Faq" asp-route-controllerName="SysReleaseNote" asp-route-actionName="Delete" title="@SysExpressionHelper.Get(langEnum, ExpressionTypes.General, GeneralExpression.Faq.ToInt())" class="mr-2" style="color:#036b7c"><em class="fa fa-question-circle"></em></a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>