@model IEnumerable<BacklogMinimalListItem>
@{
    var langEnum = User.GetLoggedInUserLanguageEnum();
    ViewData["Title"] = SysExpressionHelper.Get(langEnum, ExpressionTypes.Backlog, BacklogExpression.Backlogs.ToInt());
    ViewData["Icon"] = "fas fa-user-secret";
    ViewData["CurrentMenu"] = SysExpressionHelper.Get(langEnum, ExpressionTypes.SysMenu, SysMenuExpression.Backlog.ToInt());

    var locked_lable = SysExpressionHelper.Get(langEnum, ExpressionTypes.BaseEntity, BaseEntityExpression.Locked.ToInt());
    var Change_Status_lable = SysExpressionHelper.Get(langEnum, ExpressionTypes.General, GeneralExpression.Change_Status.ToInt());
    var Inactive_lable = SysExpressionHelper.Get(langEnum, ExpressionTypes.BaseEntity, BaseEntityExpression.Inactive.ToInt());
    var Edit_lable = SysExpressionHelper.Get(langEnum, ExpressionTypes.Backlog, BacklogExpression.Edit.ToInt());
    var Delete_lable = SysExpressionHelper.Get(langEnum, ExpressionTypes.Backlog, BacklogExpression.Delete.ToInt());
    var CurrentSprint_lable = SysExpressionHelper.Get(langEnum, ExpressionTypes.Backlog, BacklogExpression.AddToCurrentSprint.ToInt());
    var User_TimeZone = User.GetLoggedInUserTimezoneId();
    var OnlineUserId = User.GetLoggedInUserId();
}
<section class="content pt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-dark">
                    <div class="card-body">
                        <a class="btn btn-danger btn-advanced-search" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                            <em class="fa fa-search mr-2"> </em>
                            @SysExpressionHelper.Get(langEnum, ExpressionTypes.General, GeneralExpression.Advanced_Search.ToInt())
                        </a>
                        @if (Model?.Any() == true)
                        {
                            <table id="CustomDataTable" summary="forHelp" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th id="CodeColumn" class="colvis" style="width:40px;">
                                            @SysExpressionHelper.Get(langEnum, ExpressionTypes.CurrentSprint, CurrentSprintExpression.Code.ToInt())
                                        </th>
                                        <th id="CodeColumn" class="colvis">
                                            @SysExpressionHelper.Get(langEnum, ExpressionTypes.CurrentSprint, CurrentSprintExpression.Title.ToInt())
                                        </th>
                                        <th id="CodeColumn" class="colvis" style="width:70px;">
                                            @SysExpressionHelper.Get(langEnum, ExpressionTypes.SprintTask, SprintTaskExpression.Assignees.ToInt())
                                        </th>
                                        <th id="ControllerNameColumn" class="colvis" style="width:70px;">
                                            @SysExpressionHelper.Get(langEnum, ExpressionTypes.SprintTask, SprintTaskExpression.Estimate.ToInt())
                                        </th>
                                        <th id="ControllerNameColumn" class="colvis" style="width:70px;">
                                            @SysExpressionHelper.Get(langEnum, ExpressionTypes.CurrentSprint, CurrentSprintExpression.Priority.ToInt())
                                        </th>
                                        <th id="ControllerNameColumn" class="colvis" style="width:70px;">
                                            @SysExpressionHelper.Get(langEnum, ExpressionTypes.CurrentSprint, CurrentSprintExpression.Deadline.ToInt())
                                        </th>
                                        <th id="CreatedAtColumn" style="width:130px;">
                                            @SysExpressionHelper.Get(langEnum, ExpressionTypes.BaseEntity, BaseEntityExpression.CreatedAt.ToInt())
                                        </th>
                                        <th id="LastColumn" style="width:62px;text-align:center" class="no-sort no-vis">
                                            <a asp-action="Create" asp-controller="SprintTask" asp-route-sprintId="@ViewBag.BacklogId" asp-route-departmentId="@ViewBag.DepartmentId"
                                               style="color:forestgreen" title="@SysExpressionHelper.Get(langEnum, ExpressionTypes.Backlog, BacklogExpression.Create.ToInt())">
                                                <em class="fa-solid fa-square-plus"></em>
                                                <span class="text-xs text-bold">
                                                    @SysExpressionHelper.Get(langEnum, ExpressionTypes.Backlog, BacklogExpression.Create.ToInt())
                                                </span>
                                            </a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr style="@(item.Locked ? "background-color:#fff9e8" : (!item.Active ? "background-color:#f5eaec" : ""))">
                                            <td>
                                                @item.Code
                                            </td>
                                            <td>
                                                @item.Title
                                            </td>
                                            <td>
                                                @item.Assignees
                                            </td>
                                            <td>
                                                @item.Estimate
                                            </td>
                                            <td>
                                                @SysParameterHelper.Get(langEnum,ParameterTypes.Priority, item.Priority.ToInt())
                                            </td>
                                            <td>
                                                @item.Deadline
                                            </td>
                                            <td>
                                                @item.CreatedAt.GetLocalDateTime(User_TimeZone)
                                            </td>
                                            <td style="width:80px;text-align:center">
                                                @if (item.Locked)
                                                {
                                                    <span class="fa fa-lock btn-custom-lock" title="@locked_lable"></span>
                                                    @if (item.Owner == OnlineUserId)
                                                    {
                                                        <a asp-action="ChangeLock" asp-route-id="@item.Id" asp-route-lockStatus="true" class="text-xs text-bold">
                                                            @locked_lable
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <span class="text-xs text-bold">
                                                            @locked_lable
                                                        </span>
                                                    }
                                                }
                                                else if (!item.Active)
                                                {
                                                    <span class="fa-solid fa-eye-slash btn-custom-Inactive" title="@Inactive_lable"></span>
                                                    <span class="text-xs text-bold">
                                                        @Inactive_lable
                                                    </span>
                                                }
                                                else
                                                {
                                                    <a class="mr-2" title="@CurrentSprint_lable" style="color:#404040" onclick="event.preventDefault();changeSprintConfirm('@item.Id')">
                                                        <em class="fas fa-calendar-week"></em>
                                                    </a>

                                                    if (item.IsIssue)
                                                    {
                                                        <a title="@Edit_lable" class="mr-2" style="color:#036b7c"
                                           asp-action="Edit" asp-controller="Issue" asp-route-id="@item.Id" asp-route-departmentId="@ViewBag.DepartmentId">
                                                            <span class="fa-solid fa-pencil"></span>
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a title="@Edit_lable" class="mr-2" style="color:#036b7c"
                                           asp-action="Edit" asp-controller="SprintTask" asp-route-id="@item.Id" asp-route-departmentId="@ViewBag.DepartmentId">
                                                            <span class="fa-solid fa-pencil"></span>
                                                        </a>
                                                    }

                                                    <a title="@Delete_lable" style="color:#b90a2b" onclick="event.preventDefault();deleteConfirm('@item.Id',@item.IsIssue.ToString().ToLower())"><em class="fa-solid fa-trash-can"></em></a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <div class="text-center">
                                <img alt="searching" src="~/img/searching.gif" />
                                <p style="font-size:larger;font-weight:bolder;color: #abbcca;">
                                    @SysExpressionHelper.Get(langEnum, ExpressionTypes.General, GeneralExpression.Sorry_No_Result_Found.ToInt())
                                </p>
                            </div>
                        }
                    </div>
                    <div class="card-footer">
                        @if (!Model?.Any() != false)
                        {
                            <div class="float-right">
                                <a asp-action="Create" asp-controller="SprintTask" asp-route-sprintId="@ViewBag.BacklogId" asp-route-departmentId="@ViewBag.DepartmentId">
                                    <em class="fa fa-plus mr-1"></em>
                                    @SysExpressionHelper.Get(langEnum, ExpressionTypes.Backlog, BacklogExpression.Create.ToInt())
                                </a>
                            </div>
                        }
                        <a asp-controller="SysAssistance" asp-action="Help" asp-route-controllerName="Backlog" asp-route-actionName="Index" title="@SysExpressionHelper.Get(langEnum, ExpressionTypes.General, GeneralExpression.Help.ToInt())" class="mr-2" style="color:#036b7c"><em class="fa fa-info-circle"></em></a>
                        <a asp-controller="SysAssistance" asp-action="Faq" asp-route-controllerName="Backlog" asp-route-actionName="Index" title="@SysExpressionHelper.Get(langEnum, ExpressionTypes.General, GeneralExpression.Faq.ToInt())" class="mr-2" style="color:#036b7c"><em class="fa fa-question-circle"></em></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script asp-append-version="true" src="~/js/pages/backlog.js"></script>
    <script>
        var createTitle = '@SysExpressionHelper.Get(langEnum, ExpressionTypes.Backlog, BacklogExpression.Create.ToInt())';
        var editTitle = '@SysExpressionHelper.Get(langEnum, ExpressionTypes.Backlog, BacklogExpression.Edit.ToInt())';
        var deleteMboxTitle = '@SysExpressionHelper.Get(langEnum, ExpressionTypes.General, GeneralExpression.Delete.ToInt())';
        var sureToDelete = '@SysExpressionHelper.Get(langEnum, ExpressionTypes.General, GeneralExpression.Sure_To_Delete.ToInt())';
        var yesDeleteButton = '@SysExpressionHelper.Get(langEnum, ExpressionTypes.General, GeneralExpression.Yes_I_Am_Sure_To_Delete_It.ToInt())';
        var noButton = '@SysExpressionHelper.Get(langEnum, ExpressionTypes.General, GeneralExpression.No.ToInt())';
        var addToCurrentSprintTitle = '@SysExpressionHelper.Get(langEnum, ExpressionTypes.Backlog, BacklogExpression.AddToCurrentSprint.ToInt())';
        var sureToAddToCurrentSprint = '@SysExpressionHelper.Get(langEnum, ExpressionTypes.Backlog, BacklogExpression.Sure_To_Add_To_Current_Sprint.ToInt())';
        var yesSureButton = '@SysExpressionHelper.Get(langEnum, ExpressionTypes.Backlog, BacklogExpression.Yes_I_Am_Sure_To_Add_To_Current_Sprint.ToInt())';
    </script>
}